html{
	font-family: "Roboto", sans-serif;
}
body{
	background-color: #E5E5E5;
}
span.circle{
	padding: 12px 15px 12px 15px;
	font-size: 20px;
}
p{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
p.date{
	display: block;
	float: right;
	clear:right;
	margin-top: -200px; 
	color: #6E6E6E;
}
p.title{
	font-weight: 500;
}
p.subject{
	color: #6E6E6E;
}
p.content{
	padding-right: 25px;
	color: #6E6E6E;
}
.collection .collection-item.avatar .secondary-content{
	top: 50px;
}
.collection.important p.title i{
	color: #FFFC8B;
}
nav{
	background-color: #DB4437;
}
a.brand-logo{
	margin-left: 70px;
	font-size: 20px;
}
.collection i.material-icons{
	color: #9E9E9E;
}
.collection.help i.material-icons{
	color: #4285F4;
	margin-right: 30px;
}

.collection.help a,.collection.setting a{
	color: #000000;
}
.collection.help{
	margin-bottom: 0px;
	border-top-width: 0px;
}
ul.collection.help{
	border-bottom-width: 0px;
}
ul.collection.help .collection-item{
	color: #7B7B7B;
}
.btn-floating{
	color: #DB4437;
	background-color: #DB4437;
	display: block;
	bottom: 20px;
	right: 20px;
	position: fixed;
}
label{
	margin-left: 5px;
	font-size: 14px;
	color: #8A8A8A;
	background-color: #FFFFFF;
}
.NoContent img{
	width: 150px;
	display: block;
    margin: auto;
}
.NoContent h6{
	color: #939393;
	text-align: center;
	margin: auto;
}
.NoContent{
	margin-top: 200px;
}
.card{
	margin: 0px;
}
.row{
	margin: 0px;
}
.collection{
	margin: 0px;
}

@media screen and (min-width:990px) and (max-width:1366px) {
 body {
 	width: calc(100% - 300px);
 	float: right;
 }
}
