html{
	font-family: "Roboto", sans-serif;
}
span.circle{
	padding: 12px 15px 12px 15px;
	font-size: 20px;
}
span.circle.nav{
	padding: 10px 15px 10px 15px;
	font-size: 20px;
}
nav{
	background-color: #2A56C6;
}
.side-nav.fixed img{
	padding-top: 12px;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 12px;
    display: block;
    float: left;
}
a.brand-logo{
	margin-left: 70px;
	font-size: 20px;
}
.brand-logo img{
	padding: 20px 20px 10px 20px;
	display: block;
	float: left;
}
.btn-floating{
	color: #DB4437;
	background-color: #DB4437;
	display: block;
	bottom: 20px;
	right: 20px;
	position: fixed;
}
label{
	margin-left: 5px;
	font-size: 14px;
	color: black;
}
body{
	background-color: #E5E5E5;
}

.card{
	margin: 0px;
}

a.collection-item.family{
	padding-top: 0px;
	padding-bottom: 0px;
}
ul.collection.family{
	margin-top: 0px;
	margin-bottom: 0px;
}
.dropdown-content li>span {
	color: black;
	font-size: 1em;
}
.modal {
    max-width: 500px;
    background-color: white;
}
.modal .modal-footer {
	background-color: white;
}

[type="checkbox"].filled-in:checked+label:after {
	background-color: #4285F4;
	border-color: #4285F4;
}
[type="radio"]:checked+label:after {
	background-color: #4285F4;
	border-color: #4285F4;
}
h5{
	font-size: 20px;
}
.collection{
	border: none;
}
.collection a.collection-item {
	background-color: white;
	color: #454545;
}
.collection.help a.collection-item {
	background-color: white;
	color: black;
}
.collection.help i.material-icons{
	color: #4285F4;
	margin-right: 10px;
}
.collection.help{
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.modal-content.help{
	padding-left: 0px;
	padding-right: 0px;
	background-color: #F3F3F3;
}
.collection .collection-item.avatar{
	min-height: 56px;
}
.col.s1 i.material-icons.circle{
	width: 36px;
	height: 36px;
}
li.collection-item.family.avatar{
	border-bottom-width: 0px;
	height: 30px;
}
.collection-item.family.avatar .row{
	margin-bottom: 0px;
}
ul.collection.often{
	margin-top: 0px;
	margin-bottom: 0px;
}
a.collection-item.often{
	border-bottom-width: 0px;
	height: 30px;
}
li.collection-item.dup.avatar{
	border-bottom-width: 0px;
	background-color: #FAFAFA;
}
li.collection-item.dup{
	background-color: #FAFAFA;
	border-bottom-width: 0px;
}
.card{
	background-color: #FAFAFA;
	width:95%;
	margin: 0 auto;
}
.collapsible-body .collection-item i{
	display: block;
	float: left;
	margin-right: 30px;
	padding-left: 10px;
}
.collapsible-body .collection-item{
	padding-top: 5px;
	padding-bottom: 0px;
}
.collection.import img{
	height: 32px;
	width: 88px;
	margin-right: 40px;
}
.collection.import a{
	font-weight: 700px;
	font-size: 14px;
}
.collection.import i{
	margin-right: 70px;
	margin-left: 30px;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}
.collection.import .collection-item{
	padding-left: 0px;
	padding-right: 0px;
}
.col.s3.right-align.grey-text i{
	font-size: 22px;
	display: inline-block;
}
.container.often{
	padding: 20px 10px 20px 10px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	background-color: white;
}
.collection.often{
	width: 100%;
}
.side-nav li>a>i.material-icons{
	width: 40px;
	height: 40px;
}
nav i.material-icons.circle{
	width: 32px;
	height: 32px
}
@media screen and (min-width:995px) and (max-width:1366px) {
 body {
 	width: calc(100% - 300px);
 	float: right;
 }
 #modal-Import{
 	width: 535px;
 }
}
